<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	   <add key="ConnectionString" value="Server=270a9901-1332-4b7a-875b-ac5a013171e5.sqlserver.sequelizer.com;Database=db270a990113324b7a875bac5a013171e5;User ID=kshvjbeoptwafkqd;Password=HGtiaiFTVQp4eHTk7LkZDNPhHpKehRkw72aMxmPomFdNUoBdbQcGnVM32kHTFAKe;"/>
	</appSettings>
</configuration>